body{
    width: 90% !important;
    margin: 0 auto !important;
}

h1{
    margin-top: 2% !important;
    text-align: center;
}

table{
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    text-align: center;
    font-size: large;
}

#mainBody div{
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    text-align: center;
    font-size: large;
}

#bodyForm div{
    text-align: left;
    font-size: large;
}

label{
    margin-left: 3%;
}